span.tidgi-scm-count {
  position: relative;
  background: dimgrey;
  color: white;
  border-radius: 9999px;
  opacity: 0.5;
  min-width: 1.2em;
  margin-left: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-right: 0.5em;
  width: fit-content;
}
span.tidgi-scm-count-small {
  font-size: 0.6em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  line-height: 1.3em;
  margin-left: -1em;
}

div.tidgi-scm-file-info {
  margin-bottom: 5px;
}
span.tidgi-scm-file-changed-type {
  margin-right: 5px;
}
a.tidgi-scm-file-name {
  color: #333;
  cursor: pointer;
}
a.tidgi-scm-file-open-in-folder {
  color: #333;
  cursor: pointer;
  padding: 0;
}
a.tidgi-scm-file-open-in-folder > svg {
  padding: 0;
  height: 1em;
}
